.bio-test-title-list-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;

  h2 {
    font-size: 16px;
    color: #404040;
    font-weight: 700;
    margin: 0;
  }

  .list-grid-icon {
    display: flex;
    align-items: center;

    .grid-list-icon {
      padding: 0;
      border: solid 1px #1c6fe9;
      height: 42px;
      width: 42px;
      border-radius: 42px;
      color: #1c6fe9;
      background-color: transparent;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
        background-color: #1c6fe9;
        color: #fff;
      }
    }

    .active {
      background-color: #1c6fe9;
      color: #fff;
    }
  }
}

.bio-test-search {
  position: relative;
  margin-bottom: 15px;
  width: calc(100% - 225px);

  .search {
    .search-icon {
      position: absolute;
      left: 10px;
      background-color: transparent;
      border: none;
      color: #1c6fe9;
      font-size: 22px;
      display: flex;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      top: 12px;
    }

    .search-input {
      width: 100%;
      padding-left: 55px;
      margin-right: 30px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      min-height: 46px;
      font-size: 14px;
      font-weight: 600;
      border-bottom: solid 1px #dedede;
      font-family: "Open Sans", sans-serif;

      &:focus {
        outline: none;
      }
    }
  }
}

.grid-view-inner-wrapper {
  display: flex;
  grid-row-gap: 60px;
  grid-column-gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;

  .grid-view-column {
    width: 275px;
    height: 216px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 21px 24px rgba($color: #1c6fe9, $alpha: 0.13);
    transition: all 0.5s ease-in-out;
    justify-self: center;

    .grid-title-right-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 30px;

      .title {
        font-size: 16px;
        color: #1c6fe9;
        font-weight: 700;
        width: 70%;
        text-decoration: none;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .grid-title-bottom-icon {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .child-title {
        p {
          font-size: 14px;
          font-weight: 600;
          margin: 0;
        }

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .pluse-link {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
        border-radius: 42px;
      }
    }

    &:hover {
      background-color: #327deb;
      color: #fff;

      .title {
        color: #fff;
      }

      .pluse-link {
        background-color: #fff;
        color: #000000;
      }
    }
  }
}

.bio-test-details {
  .bio-name {
    h2 {
      font-size: 18px;
      color: #1c6fe9;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 5px;
      line-height: 1;
    }

    p {
      font-size: 12px;
      color: #929292;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 40px;
      padding-bottom: 15px;
      border-bottom: solid 1px #dedede;
    }
  }

  .bio-descrition {
    margin-bottom: 40px;

    span {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      border-bottom: solid 1px #1c6fe9;
      padding-bottom: 5px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }

  .bio-file {
    p {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      border-bottom: solid 1px #1c6fe9;
      padding-bottom: 5px;
      margin-top: 0;
      margin-bottom: 20px;

      span {
        color: #1c6fe9;
      }
    }
  }
}

.bio-test-file-view {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 15px;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #edf1f6;
    background-color: #edf1f6;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #edf1f6;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1c6fe9;
    border-radius: 5px;
  }

  .bio-test-file-column {
    height: 143px;
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 24px rgba(#000000, 0.09);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 30px;
    text-align: center;

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    .file-img {
      text-align: center;

      img {
        margin-bottom: 15px;
        margin: 0 auto;
        display: block;
      }

      p {
        color: #757575;
        font-size: 14px;
        margin-bottom: 0;
        border: none;
      }
    }
  }
}

.child-bio-test-table-list {
  position: relative;
  border-top: solid 2px #edf1f6;
  padding-top: 50px;
}

.child-bio-test-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;

    span {
      color: #1c6fe9;
    }
  }

  .create-bio-btn {
    background-color: #1c6fe9;
    min-width: 220px;
    min-height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-in-out;

    svg {
      margin-right: 10px;
    }
  }
}

// create bio test css

.create-bio-form {
  .form-group {
    position: relative;
    margin-bottom: 40px;

    span {
      color: #1c6fe9;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 15px;
      display: block;
    }

    .create-bio-input {
      min-height: 50px;
      background-color: transparent;
      border-radius: 10px;
      border: solid 1px #e5e5e5;
      width: 100%;
      padding-left: 15px;
      padding-right: 10px;
      color: #404040;
      font-size: 16px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      padding-top: 0;
      padding-bottom: 0;
      box-sizing: border-box;
    }
  }

  .view-bio-details-item {
    .supported-extract {
      display: flex;
      grid-column-gap: 10px;
      border: solid 1px #ddd;
      border-radius: 10px;
      padding: 0 10px;
      width: 100%;
      box-sizing: border-box;
      min-height: 42px;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin: 0;

      span {
        margin-bottom: 0 !important;
        background-color: #e6e6e6;
        margin-right: 10px;
        padding: 1px 5px;
        border-radius: 2px;
        color: black;
        margin-top: 5px;
      }
    }
  }
}

// bio test view css

.view-bio-details {
  .view-bio-details-item {
    margin-bottom: 30px;

    > span {
      font-size: 16px;
      color: #1c6fe9;
      margin-bottom: 12px;
      font-weight: 600;
      display: block;
    }

    p {
      font-size: 16px;
      padding-bottom: 20px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 600;
      border-bottom: solid 1px #e5e5e5;

      span {
        margin-right: 10px;

        svg {
          color: #1c6fe9;
        }
      }
    }
  }

  .view-bio-details-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
      min-width: 130px;
      min-height: 52px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      transition: all 0.5s ease-in-out;
      margin-left: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .create {
      background-color: #1c6fe9;
    }

    .duplicate {
      background-color: #404040;
    }

    .delete {
      background-color: #ff3737;
    }

    svg {
      margin-right: 10px;
      font-size: 20px;

      path {
        stroke: #ffffff;
      }
    }
  }
}

.pagination-selector {
  justify-self: end;

  select {
    min-height: 35px;
    min-width: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 5px;
    border: solid 1px #e5e5e5;
  }
}

.w-100 {
  width: 100%;
}

.tag-span-list {
  display: flex;
  flex-wrap: wrap;

  .se-span {
    background-color: #d5d5d5;
    padding: 0 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

.sub-bio-test-table {
  tr {
    th,
    td {
      &:last-child {
        width: 50px !important;
        text-align: center !important;
      }
    }
  }
}

.view-bio-wrapper {
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;

  .create-sub-bio-header.d-flex {
    display: flex;

    a {
      &:last-child {
        svg {
          color: red;
        }
      }
    }
  }
}

.view-page-outer {
  background-color: #fff;
  padding: 30px 30px !important;
  border-radius: 5px;
}

.score-ghraph p {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  background-color: #1c6fe9;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.clusters-option {
  position: relative;
}

.dots-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;

  .dots-info {
    width: 110px;

    p {
      position: relative;
      font-size: 10px;
      border-bottom: 0;
      padding-bottom: 5px;

      &::before {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        position: absolute;
        content: "";
        left: -28px;
      }

      &.blue-dot {
        &::before {
          background-color: #0000ff;
        }
      }

      &.yellow-dot {
        &::before {
          background-color: #ffa500;
        }
      }
    }
  }
}

.sub-bio-popup-details {
  .popup-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      margin: 0;
      color: #1c6fe9;
      font-weight: 700;
    }

    svg {
      background-color: #1c6fe9;
      padding: 3px;
      border-radius: 50px;
      color: #fff;
      cursor: pointer;
    }
  }

  .search {
    position: relative;

    .search-icon {
      position: absolute;
      background: transparent;
      border: none;
      top: 2px;
      font-size: 20px;
      color: #1c6fe9;
    }

    .search-input {
      font-size: 1em;
      width: 100%;
      padding-left: 39px;
      border: none;
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 10px;
      margin-bottom: 5px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .popup-extract {
    *::-webkit-scrollbar-thumb {
      background-color: #b3b3b4;
      outline: 1px solid #b3b3b4;
    }

    .tag-span-list {
      border: 1px solid #d5d5d5;
      margin-top: 10px;
      border-radius: 4px;
      padding: 10px;
      overflow-y: auto;
      height: 220px;
      align-content: flex-start;
      margin-bottom: 10px;

      .se-span {
        margin: 5px;
        font-size: 14px;
      }

      .not-center {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #595456;
        font-weight: 600;
      }
    }
    .no-tag-list {
      align-content: center;
    }

    .total-count {
      font-weight: 600;
      font-size: 13px;
      color: #545151;
    }
  }
}

.supported-ext-tags {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px #e5e5e5;

  .tag-span-list {
    border-bottom: 0 !important;

    .se-span {
      margin-right: 15px !important;
    }
  }

  .view-all-ext {
    background: transparent;
    border: 1px solid #1c6fe9;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 10px;
    min-height: 40px;
    color: #1c6fe9;
    font-weight: 600;
  }
}

.view-bio-details-graph {
  padding: 0;
  .users-title {
    margin-bottom: 15px;
  }
  .sbt-row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 30px;
    margin-bottom: 0;
  }
  .view-bio-details-item {
    margin-bottom: 10px;
  }
  .view-sbt-btn {
    box-shadow: none;
    margin-right: 0;
  }
  .md-copy-icon {
    svg {
      color: #000;
    }
  }
}
