@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$sidebar-bg-color: #327deb;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #fff;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;
$sidebar-width: 18vw !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";

body {
  margin: 0;
  height: 100vh;
  color: #404040;
  font-family: "Open Sans", sans-serif;
  background-color: #edf1f6;
  font-weight: 400;
}

input:focus-visible {
  outline-color: #1c6fe9;
}

.success-btn {
  background-color: #3cd07d;
  min-width: 130px;
  min-height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease-in-out;

  svg {
    margin-right: 10px;
  }

  &:hover {
    background-color: #327deb;
  }
}

.primary-btn {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  min-width: 125px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  svg {
    margin-right: 10px;
  }

  &:hover {
    background-color: #327deb;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;

      span {
        margin-left: 5px;
        font-size: 13px;
      }

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    header {
      margin-bottom: 30px;
      border-bottom: 1px solid #efefef;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px 40px;
      position: relative;

      .back-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-35px, -50%);
        font-size: 20px;
        font-weight: bold;
        color: #1c6fe9;
        display: flex;
        align-items: center;

        svg {
          margin-bottom: -2px;
          font-size: 14px;
        }

        p {
          font-size: 14px;
        }
      }

      h1 {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: #1c6fe9;

        svg {
          margin-right: 10px;
          font-size: 22px;

          path {
            stroke: #1c6fe9;
          }
        }
      }
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;

      a {
        text-decoration: none;
        color: #888;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .social-bagdes {
    margin-top: 10px;

    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;

    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }

    .block {
      direction: rtl;

      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }

    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;

    header {
      h1 {
        font-size: 24px;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;

  &.red {
    color: #ffffff;
    background: #d63030;
  }

  &.gray {
    color: #ffffff;
    background: #777777;
  }

  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

.pro-sidebar {
  fill: #fff;

  .pro-sidebar-header {
    border-bottom: none !important;
  }
}

.pro-sidebar {
  .pro-icon-wrapper {
    background-color: transparent !important;
    font-size: 16px !important;

    svg {
      width: 16px;
      height: 16px;
      path {
        stroke: #fff;
      }
    }
  }
}

.pro-sidebar {
  .pro-menu-item.active {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #edf1f6;
      position: absolute;
      top: 0;
      left: 18px;
      bottom: 0;
      border-radius: 30px 0 0 30px;
    }

    .pro-inner-item {
      color: #1c6fe9 !important;
      fill: #1c6fe9;
      svg {
        path {
          stroke: #1c6fe9;
        }
      }
    }
  }
}

.pro-sidebar {
  .pro-menu-item {
    position: relative;
    margin-bottom: 5px;

    &:hover:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #edf1f6;
      position: absolute;
      top: 0;
      left: 18px;
      bottom: 0;
      border-radius: 30px 0 0 30px;
    }

    &:hover {
      .pro-inner-item {
        color: #1c6fe9 !important;
        fill: #1c6fe9;
        svg {
          path {
            stroke: #1c6fe9;
          }
        }
      }
    }

    .pro-inner-item {
      padding-left: 30px !important;
    }
  }
}

.pro-sidebar {
  .pro-sidebar-footer {
    margin-bottom: 0px;
    border-top: none !important;
    border-bottom: solid 1px rgba(#fff, 0.1);

    .sidebar-footer-profile {
      padding-left: 30px;

      .footer-profile {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .profile-img {
          width: 56px;
          margin-right: 15px;

          img {
            width: 50px;
            height: 50px;
            border: solid 3px #fff;
            object-fit: cover;
            border-radius: 70px;
          }
        }

        .profile-name {
          strong {
            display: block;
            font-size: 14px;
            margin-bottom: 3px;
          }

          span {
            font-size: 12px;
            display: block;
            color: rgba(#fff, 0.7);
          }
        }
      }
    }
  }
}

.footer-logout-btn {
  a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;

    svg {
      margin-right: 10px;
      font-size: 18px;
    }
  }
}

.main-inner {
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;
}

.yellow-status {
  background-color: #fcf3c8;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.green-status {
  background-color: #d0fbf2;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.purple-status {
  background-color: #d8e2ff;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.details-table {
  table {
    width: 100%;
    border-spacing: 0;

    thead {
      tr {
        background-color: #1c6fe9;

        th {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding: 10px 20px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: #ecf4ff;
        }

        td {
          padding: 10px 20px;
          text-align: left;
          border-bottom: solid 1px #e5e5e5;
          color: #404040;
          font-size: 14px;
          font-weight: 600;

          .blue-color-eyes {
            color: #1c6fe9;
            font-size: 18px;
            position: relative;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  padding: 0;
  margin-left: 0;
  background-color: #fff;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  color: #404040;
  font-size: 16px;
  font-weight: 600;
}

.page-link:hover {
  color: #1c6fe9;
  text-decoration: none;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  margin-right: 20px;
  border-radius: 50%;
  border: solid 1px #e5e5e5;
}

.page-item:last-child .page-link {
  border-radius: 50%;
  border: solid 1px #e5e5e5;
  margin-right: 0;
  margin-left: 10px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #1c6fe9;
  border-color: #1c6fe9;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

.gray-color-eyes {
  svg {
    color: #1c6fe9;
    font-size: 18px;
  }
}

.delete-icon {
  margin-left: 10px;
  cursor: pointer;

  svg {
    color: #1c6fe9;
    font-size: 18px;
  }
}

.experiment-color {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 3px 3px rgba(#000, 0.16);
}

.alert_error {
  border-color: red !important;
}

.react-modal-body {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.15) !important;
  position: fixed;
  inset: 0px;
}

.dont-have-access-content {
  color: #fff;
  text-align: center;
  background-color: red;
  font-size: 18px;
  margin: 0;
  padding: 15px 0;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px;
}

// page pagination dropdown css start here

.per-pagination-wrapper {
  text-align: right;
  position: relative;

  .selected-page {
    height: 46px;
    width: 100px;
    border: solid 1px #c1c1c1;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    > p {
      width: 50%;
      text-align: center;
      margin: 0;
    }

    .up-down-arrow {
      width: 50%;
      border-left: solid 1px #c1c1c1;
      text-align: center;

      span {
        svg {
          color: #1c6fe9;
          font-size: 18px;
        }
      }

      .up-arrow {
        display: none;
      }

      .down-arrow {
        display: block;

        svg {
          margin-bottom: -5px;
        }
      }
    }
  }

  .per-page-dropdown {
    margin: 0;
    background-color: #fff;
    list-style: none;
    width: 100px;
    position: absolute;
    text-align: left;
    padding: 10px 15px;
    box-sizing: border-box;
    border: solid 1px #ddd;
    height: auto;
    right: 0;
    display: none;
    top: 47px;
    li {
      margin-bottom: 10px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.per-pagination-wrapper {
  .open ~ .per-page-dropdown {
    display: block;
  }
}

.per-pagination-wrapper {
  .selected-page {
    &.open {
      .up-down-arrow {
        .down-arrow {
          display: none;
        }
        .up-arrow {
          display: block;
        }
      }
    }
  }
}
*::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #1c6fe9;
  outline: 1px solid slategrey;
}
.highcharts-credits {
  display: none;
}

.icon-gred-box {
  box-shadow: 0px 1px 7px 0px #00000040;
  background-image: linear-gradient(to bottom, #ffffff, #1c6fe947);
  -moz-transition: all 1s;
  transition: all 1s;
  height: 35px !important;
  width: 35px !important;
  svg{
    font-size: 18px !important;
  }
}

.table-responsive {
  overflow-x: auto;
}

.d-flex {
  display: flex;
}

.trash-icon{
  width: 13px;
}
.close-red{
  color: red;
}

.ReactModal__Content--after-open{
  margin-left: 9vw;
}