@media (min-width: 1200px) and (max-width: 1299px) {
    .extract-profile-details-inner-wrapper {
        .user-search {
            .extract-filter {
                width: 44% !important;
            }

            .search {
                width: 56% !important;
            }
        }
    }
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .extract-profile-details-inner-wrapper {
        .user-search {
            .extract-filter {
                width: 40% !important;
            }

            .search {
                width: 60% !important;
            }
        }
    }
}
@media (min-width: 1400px) and (max-width: 1499px) {
    .extract-profile-details-inner-wrapper {
        .user-search {
            .extract-filter {
                width: 37% !important;
            }

            .search {
                width: 63% !important;
            }
        }
    }
}
@media (min-width: 1500px) and (max-width: 1599px) {
    .extract-profile-details-inner-wrapper {
        .user-search {
            .extract-filter {
                width: 33% !important;
            }

            .search {
                width: 67% !important;
            }
        }
    }
}