.selector-wrapper {
    margin-bottom: 80px;
}

.title-step {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    span {
        height: 25px;
        width: 25px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1C6FE9;
        color: #fff;
        border-radius: 50%;
        font-size: 14px;
    }

    label {
        color: #1C6FE9;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.input-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
    transition: all 5s ease-in-out;

    .input-btn-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-width: 200px;

        label {
            font-size: 16px;
            color: #404040;
            margin-right: 20px;
            font-weight: 500;
        }

        .btn-group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border: solid 1px #E5E5E5;
            padding: 6px;
            border-radius: 30px;

            button {
                background-color: #F8F8F8;
                height: 32px;
                width: 32px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 50%;

                svg {
                    font-size: 16px;
                    color: #1C6FE9;
                }
            }

            input {
                font-size: 16px;
                font-weight: 600;
                color: #404040;
                border: none;
                max-width: 35px;
                text-align: center;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
.react-date-picker span{
    color: #000;
}
.column-table-wrapper {
    margin-bottom: 40px;
    transition: all .5s ease-in-out;
}

.row-column-btn-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ddd;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.row-column-btn-group::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

.row-column-btn-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1C6FE9;
}

.row-column-btn-group {
    padding: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 40px;
    background-color: #F8F8F8;
    padding: 20px;
    overflow-y: auto;

    li {
        list-style: none;
        margin-right: 20px;

        >div {
            >div {
                flex-direction: row;
                display: flex;
                margin-bottom: 10px;

                .column-btn {
                    min-width: 150px;
                    min-height: 50px;
                    background-color: #FFFFFF;
                    border: none;
                    border-radius: 10px;
                    margin-bottom: 0px;
                    color: rgba(#404040, 0.40);
                    font-size: 16px;
                    font-weight: 600;
                    border: solid 1px #E5E5E5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .selected {
                    border: solid 1px #1C6FE9;
                }
            }
        }
    }
}

.row-column-btn-group {
    .row-column-btn-group-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .switch-group {
            width: 60%;
            display: flex;
            align-items: center;

            .react-switch {
                margin-right: 10px;

                .react-switch-bg {
                    background-color: transparent !important;
                    border: solid 3px #1C6FE9;
                    border-radius: 20px !important;

                    div {
                        display: none;
                    }
                }

                .react-switch-handle {
                    top: 5px !important;
                    left: 5px !important;
                    height: 23px !important;
                    width: 23px !important;
                }
            }

            p {
                font-size: 14px;
                color: #404040;
                margin: 0;
                font-weight: 600;
                margin-right: 10px;
            }

            span {
                font-size: 14px;
                color: #757575;
                font-weight: 600;
                margin: 0;
            }
        }

        .copy-paste-btn {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: end;

            p {
                font-size: 14px;
                color: #404040;
                margin: 0;
                font-weight: 600;
                margin-right: 10px;
            }

            a {
                &:last-child {
                    margin-left: 10px;
                }

                svg {
                    font-size: 20px;
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

.upload-bio-wrapper {
    .before-select-bio-content {
        p {
            font-size: 16px;
            color: #929292;
            font-weight: 500;
            margin-top: 30px;
            display: block;
            border-bottom: solid 1px #E5E5E5;
            margin-bottom: 0;
            padding-bottom: 60px;
        }
    }
}

// popup css

.radio-checkbox-group-wrapper {
    display: block;
    margin-top: 5px;

    .radio-group {
        display: block;

        .radio {
            position: relative;

            label {
                font-size: 14px;
                font-weight: 600;
            }

            margin-right: 60px;

            input[type="radio"] {
                position: absolute;
                opacity: 0;
                width: 25px;
                height: 25px;
                top: 0px;
                margin: 0;
                z-index: 1;

                +.radio-label {
                    &:before {
                        content: '';
                        background: transparent;
                        border-radius: 100%;
                        border: 2px solid #929292;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        position: relative;
                        top: 0px;
                        margin-right: 1em;
                        vertical-align: top;
                        cursor: pointer;
                        text-align: center;
                        transition: all 250ms ease;
                    }
                }

                &:checked {
                    +.radio-label {
                        &:before {
                            background-color: #1C6FE9;
                            box-shadow: inset 0 0 0 6px #fff;
                            border: 2px solid #1C6FE9;
                        }
                    }
                }

                &:focus {
                    +.radio-label {
                        &:before {
                            outline: none;
                            border-color: #1C6FE9;
                        }
                    }
                }

                +.radio-label {
                    &:empty {
                        &:before {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }



    .checkbox-group {
        display: block;

        .checkbox {
            position: relative;

            label {
                font-size: 14px;
                font-weight: 600;
            }

            margin-right: 60px;

            input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                width: 25px;
                height: 25px;
                top: 0px;
                margin: 0;
                z-index: 1;

                +.checkbox-label {
                    &:before {
                        content: '';
                        background: transparent;
                        border: 2px solid #929292;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        position: relative;
                        top: 0px;
                        margin-right: 1em;
                        vertical-align: top;
                        cursor: pointer;
                        text-align: center;
                        transition: all 250ms ease;
                    }
                }

                &:checked {
                    +.checkbox-label {
                        &:before {
                            background-color: #1C6FE9;
                            box-shadow: inset 0 0 0 6px #fff;
                            border: 2px solid #1C6FE9;
                        }
                    }
                }

                &:focus {
                    +.checkbox-label {
                        &:before {
                            outline: none;
                            border-color: #1C6FE9;
                        }
                    }
                }

                +.checkbox-label {
                    &:empty {
                        &:before {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .checkbox-group {

        .checkbox {
            margin-right: 15px;
        }
    }

}

.examined-tube {
    .ReactModal__Content {
        height: 80%;
        overflow: auto !important;
    }
}

.popup-textarea {
    .additional-text-details {
        min-height: 110px;
        background-color: transparent;
        border-radius: 10px;
        border: solid 1px #E5E5E5;
        width: 100%;
        padding: 15px;
        color: #404040;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;

        &:focus {
            outline-color: #1C6FE9;
        }
    }
}

.radio-group-title p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.upload-experiment-popup {
    .upload-experiment {

        .selector-wrapper {
            margin-bottom: 30px;

            span {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 15px;
                display: block;
            }

            textarea {
                min-height: 110px;
                background-color: transparent;
                border-radius: 10px;
                border: solid 1px #E5E5E5;
                width: 100%;
                padding: 15px;
                color: #404040;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                padding-top: 0;
                padding-bottom: 0;
                box-sizing: border-box;

                &:focus {
                    outline-color: #1C6FE9;
                }
            }
        }
    }
}

.popup-bottm-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    .popup-btn {
        border: solid 1px #404040;
        background-color: transparent;
        border-radius: 5px;
        min-width: 170px;
        min-height: 52px;
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;
        color: #404040;

        &:hover {
            background-color: #1C6FE9;
            color: #fff;
            border-color: #1C6FE9;
        }
    }
}
.css-tlfecz-indicatorContainer{
    cursor:pointer;
}
.css-tj5bde-Svg{
    cursor:pointer;
}

.upload-file-group-wrapper {
    position: relative;
    margin-bottom: 40px;

    &::before {
        content: "";
        display: block;
        background-color: #E5E5E5;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -15px;
    }
}

.upload-file-group {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        height: 6px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1C6FE9;
        border-radius: 10px;
    }

    .upload-file-item {
        box-shadow: 0 0 24px rgba(#000, 0.09);
        min-width: 234px;
        border-radius: 20px;
        padding: 30px;
        text-align: center;
        margin-right: 50px;
        box-sizing: border-box;

        &:last-child {
            margin-right: 0;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 50px;
        }

        span {
            color: #ABABAB;
            font-size: 14px;
            font-weight: 600;
            margin-top: 6px;
            display: block;
        }

        h2 {
            font-size: 16px;
            font-weight: 600;
            margin: 30px 0;
        }

        .upload-file-btn {
            position: relative;
            a {
                text-decoration: none;
            }
            .choose-file-input {
                height: 100%;
                overflow: hidden;
                width: 100%;
                border: none;
                padding: 0;
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                cursor: pointer;
            }

            .choose-file-name {
                min-height: 50px;
                background-color: #1C6FE9;
                border-radius: 10px;
                border: solid 1px #E5E5E5;
                width: 115px;
                margin-left: auto;
                margin-right: auto;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
            }

            .delete {
                background-color: #FF3737;
                height: 50px;
                width: 50px;
                border-radius: 50px;
            }

            svg {
                font-size: 30px;
            }
        }
    }
}

.upload-experiment {
    .column-table-wrapper {
        .radio {
            position: relative;

            label {
                font-size: 14px;
                font-weight: 600;
            }

            margin-right: 60px;

            input[type="radio"] {
                position: absolute;
                opacity: 0;
                width: 25px;
                height: 25px;
                top: -0px;
                margin: 0;
                z-index: 1;

                +.radio-label {
                    &:before {
                        content: '';
                        background: transparent;
                        border-radius: 100%;
                        border: 2px solid #929292;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        position: relative;
                        top: 0px;
                        margin-right: 1em;
                        vertical-align: top;
                        cursor: pointer;
                        text-align: center;
                        transition: all 250ms ease;
                    }
                }

                &:checked {
                    +.radio-label {
                        &:before {
                            background-color: #1C6FE9;
                            box-shadow: inset 0 0 0 6px #fff;
                            border: 2px solid #1C6FE9;
                        }
                    }
                }

                &:focus {
                    +.radio-label {
                        &:before {
                            outline: none;
                            border-color: #1C6FE9;
                        }
                    }
                }

                +.radio-label {
                    &:empty {
                        &:before {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .form-submit-btn {
        display: flex;
        button {
            margin-left: auto;
        }
    }
}

.upload-experiment {
    .predefined-custom-table-wrapper {
        margin-bottom: 30px;

        .predefined-table {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }
}

.upload-experiment {
    .selector-wrapper {
        .bio-test-view-one-value {
            span {
                border-bottom: solid 1px #E5E5E5;
                display: block;
                padding: 15px 0;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.cell-popup-details {
    .selector-wrapper {
        margin-bottom: 30px;

        span {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 700;
        }

        textarea {
            width: 100%;
            min-height: 100px;
            border: solid 1px #E5E5E5;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;

            &:focus {
                outline-color: #1C6FE9;
            }
        }
    }

    .popup-bottm-btn {
        button {
            margin-left: 15px;
        }
    }
}


// Create Experiment css start 

.experiment-search{
    .search {
        width: calc(100% - 190px) !important;
    }
}

.select-table-size {
    margin-bottom: 0px !important;
}

.create-experiment-data {
    .form-group {
        span {
            display: flex;
            align-items: center;

            label {
                height: 32px;
                width: 32px;
                background-color: #1C6FE9;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                font-size: 14px;
                margin-right: 12px;
            }
        }
    }
}



.input-group-data {
    >div {
        >div {
            padding-top: 0;
            padding-bottom: 0;

            >div {
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

.create-experiment-data {
    .form-group {
        .group-name-selected {
            border: solid 1px #E5E5E5;
            box-sizing: border-box;
            border-radius: 10px;
            min-height: 46px;
            width: 100%;
            padding-left: 15px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            p {
                margin: 0 10px 0 0;
                background-color: #EBEBEB;
                padding: 2px 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;

                svg {
                    color: #404040;
                    font-size: 20px;
                    margin-left: 5px;
                }
            }

            input {
                border: none;
                font-size: 14px;
                font-weight: 600;
                color: #757575;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.link-submit{
    text-decoration: none;
}
.selector-wrapper{
    .view-experiment-values{
        display: flex;
        grid-column-gap: 10px;
        border: solid 1px #ddd;
        border-radius: 10px;
        padding: 0 10px;
    }
}
    .experiment-name-input{ input{
        display: flex;
        grid-column-gap: 10px;
        border: solid 1px #ddd;
        border-radius: 10px;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        min-height: 42px;
    }
}
.experiment-name-view{
    margin-bottom: 30px;
}

.user-details-table{
    table{
        tr{
            td{
                .gray-color-eyes{
                    margin-right: 10px;
                }
            }
        }
    }
}

// Create Experiment css end 