.subbiotest-dragable-table-wrapper {
    table.dragable-table {
        width: 100%;

        thead {
            text-transform: capitalize;
            box-shadow: 0px 2px 6px #ddd;

            th {
                border: 0;
                min-width: 100px;

                &:last-child {
                    width: 180px;
                    border-right: 0 !important;
                    position: sticky;
                    right: 0;
                    background-color: #fff;
                }

                &:nth-last-child(2) {
                    position: sticky;
                    right: 87px;
                    background-color: #fff;
                }

                span {
                    position: relative;

                    svg {
                        margin-left: 5px;
                        margin-top: 4px;
                        position: absolute;
                    }
                }
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #f2f2f2;

                    td {
                        background-color: inherit;
                    }
                }

                &:nth-child(odd) {
                    background-color: #fff;

                    td {
                        background-color: inherit;
                    }
                }

                &:nth-child(odd) {
                    td {
                        background-color: inherit;
                    }
                }

                &:active {
                    box-shadow: 1px 1px 10px #282828;
                    z-index: 1;
                    position: relative;
                }

                &:hover {
                    box-shadow: 1px 1px 10px #282828;
                    z-index: 1;
                    position: relative;
                }
                td {
                    &:last-child {
                        border-right: 0 !important;
                    }
                }

                td.form-group {
                    input.add-user-input {
                        background-color: transparent;
                        width: 110px;
                    }

                    .table-color-popup {
                        .table-color-dropdown {
                            position: relative;

                            ul {
                                background-color: #fff;
                                display: flex;
                                align-items: center;
                                width: 260px;
                                height: 60px;
                                border-radius: 10px;
                                list-style: none;
                                position: absolute;
                                top: 0;
                                right: 0;
                                justify-content: center;
                                padding-left: 20px;
                                box-shadow: 0px 5px 10px #8d8d8d;

                                li {
                                    background-color: rgb(255, 136, 128);
                                    top: 488px;
                                    margin-right: 20px;
                                    left: 1225px;
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 5px;
                                    opacity: 1;

                                    &:last-child {
                                        &::after {
                                            content: "";
                                            height: 2px;
                                            width: 40px;
                                            display: block;
                                            background-color: red;
                                            transform: rotate(135deg);
                                            position: absolute;
                                            top: 30px;
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-inner {
    .sub-bio-test-btn {
        display: flex;
        margin-top: 30px;
        justify-content: end;

        .form-submit-btn {

            .primary-btn,
            .sbt-btn {
                border-radius: 10px;
                width: 140px !important;
            }
        }
    }
}

.dUAqzA {
    padding: 0 !important;
    display: inherit;
}

.jqoswT {
    padding: 0 !important;
    display: inherit;
    width: 100% !important;
}

.highcharts-f7ymtr0-199 {
    overflow: auto !important;
}

.predict-test-table {
    thead {
        tr {
            th {
                &:last-child {
                    background-image: url(../../../src/assets/images/icon-edit.svg);
                    background-repeat: no-repeat;
                    background-position: 70%;
                    min-width: 170px;

                    span {
                        left: 25px;
                    }
                }
            }
        }
    }

    tbody {
        tr {

            &:hover {
                background-color: rgba(0, 0, 255, 0.781);
                -webkit-box-shadow: inset 2px -4px 3px 0px #0000004f;
                -moz-box-shadow: inset 2px -4px 3px 0px #0000004f;
                box-shadow: inset 2px -4px 3px 0px #0000004f;
            }

            td {
                &:last-child {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.score-input-row {
    display: flex;
    justify-content: space-between;

    .drag-column {
        display: flex;
        align-items: flex-end;
        border-bottom: none;
    }
}

.subbiotest-dragable-table-wrapper {
    tbody {
        tr {
            td {


                &:last-child(even) {
                    background-color: black;
                }

                .table-color-dragable-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .drag-column {
                border-bottom: 0;
                position: sticky;
                right: 0;
                background-color: #fff;
            }

            .score-column {
                position: sticky;
                right: 87px;
                background-color: #fff;
            }
        }

    }

}

.predict-fixed-row {
    table {
        thead {
            tr {
                th {
                    width: 180px;
                    min-width: 180px;

                    &:last-child {
                        border-bottom: 0;
                        box-shadow: rgb(245 245 245) 0px 1px 1px !important;
                        position: sticky;
                        right: 0;
                        background-color: #fff;
                    }

                }
            }
        }

        tbody {
            tr {
                td {
                    &:last-child {
                        position: sticky;
                        right: 0;
                        background-color: inherit;
                        box-shadow: inset 3px -1px 20px 20px #00000026;
                    }
                }
            }
        }
    }
}

.score-table-wrapper {
    table {
        thead {
            tr {
                th {
                    &:nth-last-child(2) {
                        border-bottom: 0;
                        box-shadow: rgb(245 245 245) 0px 1px 1px !important;
                        position: sticky;
                        right: 0;
                        background-color: #fff;
                        min-width: 35px !important;
                        width: 35px !important;
                        border-bottom: 1px solid #e7e9ec !important;
                    }

                    &:nth-last-child(3) {
                        position: sticky;
                        right: 65px;
                        background-color: #fff;
                        box-shadow: -2px 3px 5px 0px #0000001c;
                        border-bottom: 1px solid #e7e9ec !important;
                    }

                }
            }
        }

        tbody {
            tr {
                td {
                    &:nth-last-child(2) {
                        position: sticky;
                        right: 0;
                        background-color: inherit !important;
                        border-top: 1px solid #e7e9ec !important;
                    }

                    &:nth-last-child(3) {
                        position: sticky;
                        right: 65px;
                        background-color: inherit !important;
                        box-shadow: -2px 3px 5px 0px #0000001c;
                        border-top: 1px solid #e7e9ec !important;
                    }
                }

                &:nth-child(odd) {
                    td {
                        &:nth-last-child(2) {
                            position: sticky;
                            right: 0;
                            background-color: inherit !important;

                        }

                        &:nth-last-child(3) {
                            position: sticky;
                            right: 65px;
                            background-color: inherit !important;
                        }
                    }
                }
            }

        }
    }
}

.table-drag-color {
    .table-color-dropdown {
        position: relative;

        ul {
            background-color: #fff;
            display: flex;
            align-items: center;
            width: 260px;
            height: 60px;
            border-radius: 10px;
            list-style: none;
            position: absolute;
            top: 28px;
            right: 70px;
            justify-content: center;
            padding-left: 20px;
            box-shadow: 0px 5px 10px #8d8d8d;
            z-index: 11;

            li {
                background-color: rgb(255, 136, 128);
                top: 488px;
                margin-right: 20px;
                left: 1225px;
                width: 32px;
                height: 32px;
                border-radius: 5px;
                opacity: 1;

                &:last-child {
                    &::after {
                        display: block;
                        background-color: red;
                        transform: rotate(135deg);
                        position: absolute;
                        top: 30px;
                        right: 15px;
                    }
                }
            }
        }
    }
}
.table-drag-color {
    right: 0;
    top: 0;
    position: sticky;
    z-index: 11;
}
.feFNnG{
    padding: 0 !important;
    display: inherit;
}