.alt-title {
    margin: 0 !important;
    font-weight: 700 !important;
}

.clr-red {
    color: #ef5350;
}

.clr-blue {
    color: #42a5f5;
}

.clr-warning {
    color: #ff9800;
}

.user-profile-popup {
    text-align: center;

    .close-icon {
        svg {
            color: #ef5350;
            font-size: 80px;
        }
    }

    .warning-icon {
        svg {
            color: #ff9800;
            font-size: 80px;
        }
    }

    .checked-icon {
        svg {
            color: #42a5f5;
            font-size: 80px;
        }
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 10px;
        color: #7e7e7e;
    }
}

.create-popup {
    justify-content: center !important;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;

    &.delete-popup {

        .popup-btn {
            min-width: 130px;
        }

        .popup-btn.p-btn-close {
            border-color: #878787 !important;
            background-color: #878787;
            &:hover {
                background-color: #878787;
                border-color: #878787;
                color: #fff;
            }
        }
    }

    .popup-btn {
        min-width: 160px;
        min-height: 38px;
        border-radius: 10px;
        border: solid 1px #1c6fe9;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;

        &:first-child {
            margin-right: 10px;
        }

        &.p-btn-success {
            border-color: #1c6fe9 !important;
            background-color: #1c6fe9;

            &:hover {
                background-color: #1c6fe9;
                border-color: #1c6fe9;
                color: #fff;
            }
        }

        &.p-btn-close {
            border-color: #ef5350 !important;
            background-color: #ef5350;

            &:hover {
                background-color: #ef5350;
                border-color: #ef5350;
                color: #fff;
            }
        }

        &.p-btn-delete {
            border-color: #ff9800 !important;
            background-color: #ff9800;

            &:hover {
                background-color: #ff9800;
                border-color: #ff9800;
                color: #fff;
            }
        }
    }
}

.loader-outer {
    .loader-dash {
        margin: 0 35px;
        width: 80px;
        height: 24px;
        border-radius: 8px;
        background: #2d72d7;
        box-shadow: 0 0 10px 0 #417bce;
    }

    .uno {
        margin-right: -50px;
        transform-origin: center left;
        animation: spin 3s linear infinite;
    }

    .dos {
        transform-origin: center right;
        animation: spin2 3s linear infinite;
        animation-delay: .2s;
    }

    .tres {
        transform-origin: center right;
        animation: spin3 3s linear infinite;
        animation-delay: .3s;
    }

    .cuatro {
        transform-origin: center right;
        animation: spin4 3s linear infinite;
        animation-delay: .4s;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(360deg);
        }

        30% {
            transform: rotate(370deg);
        }

        35% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin2 {
        0% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(0deg);
        }

        30% {
            transform: rotate(-180deg);
        }

        35% {
            transform: rotate(-190deg);
        }

        40% {
            transform: rotate(-180deg);
        }

        78% {
            transform: rotate(-180deg);
        }

        95% {
            transform: rotate(-360deg);
        }

        98% {
            transform: rotate(-370deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @keyframes spin3 {
        0% {
            transform: rotate(0deg);
        }

        27% {
            transform: rotate(0deg);
        }

        40% {
            transform: rotate(180deg);
        }

        45% {
            transform: rotate(190deg);
        }

        50% {
            transform: rotate(180deg);
        }

        62% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(360deg);
        }

        80% {
            transform: rotate(370deg);
        }

        85% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin4 {
        0% {
            transform: rotate(0deg);
        }

        38% {
            transform: rotate(0deg);
        }

        60% {
            transform: rotate(-360deg);
        }

        65% {
            transform: rotate(-370deg);
        }

        75% {
            transform: rotate(-360deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
}