.medical-indication-details-wrapper {
    .task-radio-btn-group {
        border-bottom: solid 1px #dedede;
        padding-bottom: 30px;
        margin-bottom: 35px;

        > p {
            font-size: 18px;
            font-weight: 600;
            color: #757575;
            margin-top: 0;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                .radio {
                    label {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    margin-right: 60px;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;

                        + .radio-label {
                            &:before {
                                content: "";
                                background: transparent;
                                border-radius: 100%;
                                border: 2px solid #929292;
                                display: inline-block;
                                width: 28px;
                                height: 28px;
                                position: relative;
                                top: -5px;
                                margin-right: 1em;
                                vertical-align: top;
                                cursor: pointer;
                                text-align: center;
                                transition: all 250ms ease;
                            }
                        }

                        &:checked {
                            + .radio-label {
                                &:before {
                                    background-color: #1c6fe9;
                                    box-shadow: inset 0 0 0 6px #fff;
                                    border: 2px solid #1c6fe9;
                                }
                            }
                        }

                        &:focus {
                            + .radio-label {
                                &:before {
                                    outline: none;
                                    border-color: #1c6fe9;
                                }
                            }
                        }

                        + .radio-label {
                            &:empty {
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.medical-indication-table-title {
    display: flex;
    align-items: center;
    width: 30%;

    p {
        font-weight: 600;
        font-size: 18px;
        color: #757575;
        margin: 0;
    }

    span {
        font-weight: 600;
        font-size: 18px;
        color: #757575;
        margin: 0 30px;
        display: block;
    }

    a {
        min-width: 275px;
        min-height: 46px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        transition: all 0.5s ease-in-out;

        svg {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.create-medical-indication-btn {
    display: flex;
    justify-content: center;

    a {
        border: solid 1px #1c6fe9;
        background-color: transparent;
        border-radius: 5px;
        min-width: 390px;
        min-height: 52px;
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;
        color: #1c6fe9;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            background-color: #1c6fe9;
            color: #fff;
        }

        svg {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.btn-top-or-text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}
.users-details-inner-wrapper {
    .user-search {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .search {
            width: calc(100% - 180px);
        }
    }
}
.medical-indication-table-details {
    margin-top: 40px;
    .madical-details-submit-btn {
        margin-top: 40px;
        padding-top: 40px;
        text-align: right;
        border-top: solid 1px #dedede;

        a {
            background-color: #3cd07d;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            transition: all 0.5s ease-in-out;
            padding: 15px 50px;
        }
    }
}

.medical-details-table table {
    width: 100%;
    border-spacing: 0;

    thead {
        tr {
            box-shadow: 0 5px 8px rgba($color: #1c6fe9, $alpha: 0.15);

            th {
                color: #757575;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 20px;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #cfe2ff;

                td {
                    color: #1c6fe9;
                }
            }

            td {
                padding: 15px 20px;
                text-align: left;
                border-bottom: solid 1px #e5e5e5;
                color: #404040;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.5s ease-in-out;

                input {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.medical-indication-view-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #cfe2ff;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: -15px;
    .name-left-column {
        p {
            font-size: 18px;
            color: #757575;
            font-weight: 500;
            margin: 0;
            strong {
                color: #404040;
                margin-left: 22px;
                font-weight: 700;
            }
        }
    }
    .color-right-column {
        display: flex;
        p {
            font-size: 18px;
            color: #757575;
            font-weight: 500;
            margin: 0;
            border-left: solid 1px #929292;
            border-right: solid 1px #929292;
            padding: 0 10px;
            strong {
                color: #404040;
                margin-left: 8px;
                font-weight: 700;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                margin-left: 15px;
                .status-color {
                    height: 16px;
                    width: 16px;
                    border-radius: 5px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
    }
}
.medical-indication-details-view-table table {
    border-spacing: 1px;
}

// Dragble Table

.cKDTf {
    padding: 0 !important;
    display: inherit;
    .dragable-table {
        width: 100%;
    }
}
.table-row {
    cursor: pointer;
}

.sc-gKclnd,
.sc-iCfMLu {
    padding: 0 !important;
    display: inherit;
    width: 100% !important;
}

/*-------- medical-indication-detail-page---css------*/
.medical-indication-detail-page{
    .medical-indication-table-title{
        a{
            min-width: auto !important;
        }
    }
}

/*-----------medical-indication-view----page---css---*/

.med-indi-details-view-wrapper {
    .users-title {
        margin-bottom: 20px;
    }
    .view-bio-details-item {
        margin-bottom: 20px;
    }
    .view-sbt-btn {
        margin-right: 0;
        box-shadow: none;
    }
    .create-sub-bio-header {
        .md-copy-icon {
            svg {
                color: #000;
            }
        }
        a {
            &:last-child {
                svg {
                    color: red;
                }
            }
        }
    }
}

/*------------- medical-indication-score-page-----css-----*/
.medical-indication-score-page {
    .medical-indication-view-wrapper {
        margin-bottom: 30px;
    }
    table {
        thead {
            tr {
                th {
                    &:nth-last-child(2) {
                        background-image: url(/static/media/icon-edit.4d3ba0ce.svg);
                        background-repeat: no-repeat;
                        background-position: 70%;
                        min-width: 170px;
                    }
                }
            }
        }
    }
}

/*------------ medical-indication-predict-page------css-----*/
.medical-indication-predict-page {
    .medical-indication-view-wrapper {
        margin-bottom: 30px;
    }
}


.table-drag-color {
    .table-color-dropdown {
        position: relative;

        ul {
            background-color: #fff;
            display: flex;
            align-items: center;
            width: 260px;
            height: 60px;
            border-radius: 10px;
            list-style: none;
            position: absolute;
            top: 28px;
            right: 70px;
            justify-content: center;
            padding-left: 20px;
            box-shadow: 0px 5px 10px #8d8d8d;
            z-index: 11;
            li {
                background-color: rgb(255, 136, 128);
                top: 488px;
                margin-right: 20px;
                left: 1225px;
                width: 32px;
                height: 32px;
                border-radius: 5px;
                opacity: 1;

                &:last-child {
                    &::after {
                        display: block;
                        background-color: red;
                        transform: rotate(135deg);
                        position: absolute;
                        top: 30px;
                        right: 15px;
                    }
                }
            }
        }
    }
}