.availability-radio-group {
    p {
        color: #757575;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
        margin-top: 0;
    }

    .availability-radio {
        display: flex;

        .radio {
            margin-right: 30px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }

            .radio-label {
                color: #929292;
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
            }

            input {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.view-supplier-details {
    .extract-view-profile-inner-wrapper {
        grid-template-columns: 1fr 1fr;

        ul {
            li {
                margin-bottom: 25px;
            }
        }
    }

    .react-phone {
        input {
            min-height: 15px;
        }
    }
}

.view-supplier-details {
    .form-group {

        textarea {
            padding-top: 10px !important;

            &:focus {
                outline-color: #1C6FE9;

            }
        }

        .google-map {
            .search-input {
                min-height: 46px;
                background-color: transparent;
                border-radius: 10px;
                border: solid 1px #E5E5E5;
                width: 100%;
                padding-left: 15px;
                padding-right: 10px;
                color: #404040;
                font-size: 14px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                padding-top: 0;
                padding-bottom: 0;
                box-sizing: border-box;
                margin-bottom: 17px;
            }

        }
    }
}

.supplier-data-phone-react-view {
    .react-phone {
        input.form-control {
            min-height: inherit;
            background-color: transparent;
            padding-left: 0 !important;
        }

        .flag-dropdown {
            display: none;
        }
    }

    .react-tel-input {
        input.form-control {
            cursor: pointer;
        }
    }
}

.add-user-form-wrapper {
    .row {
        display: flex;

        &.add-user-form {
            display: flex;
        }

        .col-md-6 {
            width: 50%;

            .form-group {

                margin-bottom: 25px;
            }
        }
    }
}

.create-supplier-bottom-tag {
    margin-bottom: 10px;
    padding-bottom: 14px;

    h2 {
        font-size: 16px;
        color: #1c6fe9;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
        border-radius: 0;
        padding: 2px 10px;
        display: inline-block;
        margin: 0;
        border-left: solid 2px #1c6fe9;
        padding-left: 20px;
    }
}

.border-botoom-custom {
    border-bottom: solid 1px #dedede;

}

.pdt {
    padding-top: 30px;
}

.extract-view-profile-inner-wrapper {
    .react-tel-input {
        &.react-phone {
            input {
                font-weight: 600;
                color: #404040;

                &:hover {
                    cursor: text;
                }
            }
        }
    }
}

.users-details-inner-wrapper {
    .supplier-data-phone-react-view {
        .react-tel-input {
            input.form-control {
                font-weight: 600;
                color: #404040;
                cursor: pointer;
            }
        }
    }

}
